.search-input{
border-bottom-right-radius: 10px;
border-top-left-radius: 10px;
height: 30px;
width: 120px;
background-color: transparent;
text-align: center;
border: 2px solid #2db1ef;
margin-right: 2px;
color: white;
margin-right: 15px;
}

/* .search-input:hover,
.search-input:focus{
    height: 30px;
width: 120px;
} */

